extends minimalist_layout 

block content 
  h1= title 
  form(action="", method="post") 
    label(for="code") Club Code
    input#code(type="text", name="code")
    label(for="admin") Admin Code
    input#admin(type="text", name="admin")
    button(type="submit") Confirm
  if errors
    ul
      for error in errors
        li!= error.msg