doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/panel.css')
  body
    aside 
      a(href="/") Home
      block panel
      a(href=`/settings/${currentUser.username}`) Settings
    main 
      block content
