extends minimalist_layout
  
block content
  h1= title
  form(action="", method="post")
    fieldset 
      label(for="name")  
      input#name(type="text", name="name")
      label(for="surname") 
      input#surname(type="text", name="surname")
    fieldset 
      label(for="username") 
      input#username(type="text", name="username")
      label(for="password") 
      input#password(type="password", name="password")
    button(type="submit") Sign Up


