body {
  display: grid;
  grid-template-columns: 300px auto;
}

aside {
  background-color: var(--color-gamma);
  display: grid;
  grid-auto-rows: 50px;
  align-self: start;
  height: 100svh;
  position: sticky;
  top: 0;
}

aside > a,
aside > a:visited {
  text-decoration: none;
  color: white;
  display: grid;
  place-items: center;
  transition: background-color 0.5s ease;
}

aside > a:hover {
  background-color: var(--color-beta);
}

main {
  display: grid;
  padding: 20px 100px 0px 100px;
  grid-template-rows: 50px 1fr 100px;
  gap: 20px;
}

.user-info {
  display: grid;
  grid-auto-rows: 40px;
  gap: 10px;
}

.new-message-box {
  position: sticky;
  background-color: white;
  bottom: 0;
  width: 100%;
  padding: 20px;
}
