*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --color-alpha: #8ecae6;
  --color-beta: #219ebc;
  --color-gamma: #023047;
  --color-psi: #ffb703;
  --color-omega: #fb8500;
}

input,
textarea,
button {
  font-family: inherit;
}

body {
  min-height: 100svh;
}

a {
  color: var(--color-beta);
}

a:visited {
  color: var(--color-omega);
}

a.button,
button {
  display: inline;
  text-decoration: none;
  color: black;
  background-color: var(--color-alpha);
  border: none;
  border-radius: 11px;
  padding: 10px 30px;
  font-size: 1rem;
  cursor: pointer;
  display: grid;
  place-items: center;
  transition: all 0.5s ease;
}

a.button:hover,
button:hover {
  background-color: var(--color-beta);
  transform: scale(1.1);
}

.user-links {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
}

form {
  display: grid;
  gap: 20px;
}

fieldset {
  border: none;
  display: grid;
  gap: 10px;
}

input {
  padding: 8px;
  border: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}
